### Shark Attacks

#### Possible questions:

a) Within the unprovoked type of incident, which activity suffered the most?
> What about provoked accidents?

b) Which country has had the biggest number of incidents?
> Is the ranking maintained if filtered by fatal accidents?

c) Which shark species is most associated with attacks?

d) Do the attacks happen with more frequency at a specific time of the day?

#### Coding logic:

1) Save DataFrame backup 

2) Perform general table cleaning: (a) remove duplicates, (b) remove entire null rows, (c) adequate column title (lower snake case)

3) Select columns related to a specific question

4) Understand possible inconsistencies

5) Clean data using new variable to save DataFrame

In [1]:
import os
os.listdir()

['shark_analysis.ipynb',
 'attacks.csv',
 'README.md',
 '.gitattributes',
 '.ipynb_checkpoints',
 '.git']

In [2]:
import numpy as np
import pandas as pd

In [3]:
np.__version__

'1.14.3'

In [4]:
pd.__version__

'0.23.0'

In [5]:
# Retrieving database
data = pd.read_csv('attacks.csv', encoding='latin-1')

In [6]:
# Understanding database (1)
data.head()

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,...,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,...,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN

In [7]:
# Understanding database (2)
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25723 entries, 0 to 25722
Data columns (total 24 columns):
Case Number               8702 non-null object
Date                      6302 non-null object
Year                      6300 non-null float64
Type                      6298 non-null object
Country                   6252 non-null object
Area                      5847 non-null object
Location                  5762 non-null object
Activity                  5758 non-null object
Name                      6092 non-null object
Sex                       5737 non-null object
Age                       3471 non-null object
Injury                    6274 non-null object
Fatal (Y/N)               5763 non-null object
Time                      2948 non-null object
Species                   3464 non-null object
Investigator or Source    6285 non-null object
pdf                       6302 non-null object
href formula              6301 non-null object
href                      6302 non-null object
Case Number.1             6302 non-null object
Case Number.2             6302 non-null object
original order            6309 non-null float64
Unnamed: 22               1 non-null object
Unnamed: 23               2 non-null object
dtypes: float64(2), object(22)
memory usage: 4.7+ MB

In [8]:
# 1) Saving database backup
data_bk = data.copy()

In [9]:
# 2) Data cleaning: removing duplicates
# DataFrame.drop_duplicates(subset=None, keep='first', inplace=False, ignore_index=False)
data.drop_duplicates(keep = 'first', inplace = True)

In [10]:
# 2) Data cleaning: removing mostly null rows
# DataFrame.dropna(axis=0, how='any', thresh=None, subset=None, inplace=False)
data.dropna(thresh = 12, axis = 0, how = 'all', inplace = True)

In [11]:
# 2) Data cleaning: renaming columns to lower and snake case
# TBD

In [12]:
# 3) Selecting necessary columns to answer question:
# Within the unprovoked type of incident, which activity suffered the most?

data.columns
# Case Number: to be used as ID column
# Type: necessary to distinguish between types of incidents
# Activity: also necessary to attribute different kinds of activities

Index(['Case Number', 'Date', 'Year', 'Type', 'Country', 'Area', 'Location',
       'Activity', 'Name', 'Sex ', 'Age', 'Injury', 'Fatal (Y/N)', 'Time',
       'Species ', 'Investigator or Source', 'pdf', 'href formula', 'href',
       'Case Number.1', 'Case Number.2', 'original order', 'Unnamed: 22',
       'Unnamed: 23'],
      dtype='object')

In [13]:
data_a = data[['Case Number', 'Type', 'Activity']]

In [14]:
data_a.info()
# TBD: Transform 'Case Number' into date

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6302 entries, 0 to 6301
Data columns (total 3 columns):
Case Number    6301 non-null object
Type           6298 non-null object
Activity       5758 non-null object
dtypes: object(3)
memory usage: 196.9+ KB

In [15]:
data_a['Type'].value_counts()
# TBD: Disconsider occurences not in ['Unprovoked', 'Provoked']

Unprovoked      4595
Provoked         574
Invalid          547
Sea Disaster     239
Boating          203
Boat             137
Questionable       2
Boatomg            1
Name: Type, dtype: int64

In [16]:
data_a['Activity'].value_counts()

Surfing                                                                                                                971
Swimming                                                                                                               869
Fishing                                                                                                                431
Spearfishing                                                                                                           333
Bathing                                                                                                                162
Wading                                                                                                                 149
Diving                                                                                                                 127
Standing                                                                                                                99
Snorkeling                                                                                                              89
Scuba diving                                                                                                            76
Body boarding                                                                                                           61
Body surfing                                                                                                            49
Swimming                                                                                                                47
Kayaking                                                                                                                33
Fell overboard                                                                                                          32
Treading water                                                                                                          32
Pearl diving                                                                                                            32
Free diving                                                                                                             29
Boogie boarding                                                                                                         29
Windsurfing                                                                                                             19
Walking                                                                                                                 17
Boogie Boarding                                                                                                         16
Shark fishing                                                                                                           15
Floating                                                                                                                14
Canoeing                                                                                                                13
Fishing                                                                                                                 13
Rowing                                                                                                                  12
Surf fishing                                                                                                            12
Surf-skiing                                                                                                             12
Surf skiing                                                                                                             12
                                                                                                                      ...
Wading, fishing for flounder                                                                                             1
Scallop diving on hookah                                                                                                 1
Argentine Air Force C-54                                                                                                 1
Trochus diving, but floating on surface                                                                                  1
Treading water, waiting for a wave                                                                                       1
Swimming with speared fish                                                                                               1
Wreck of the Tweed                                                                                                       1
Jumped overboard from torpedoed Panamanian freighter                                                                     1
Sailing on catamaran & fell into the water                                                                               1
Scallop diving (using surface-supplied air & a POD)                                                                      1
Man fell overboard from ship. Those on board threw a rope to him with a wooden block & were pulling him to the ship      1
Fishing with dynamite                                                                                                    1
Holding shark on leader & dangling it above the water                                                                    1
Steamer Una wrecked with 75 laborers onboard. Survivors took to rafts & lifeboats.                                       1
Landing hooked shark in boat                                                                                             1
Diving for pearls                                                                                                        1
Fishing from a kayak                                                                                                     1
Free diving for lobster                                                                                                  1
Riding a horse                                                                                                           1
Leicester abandoned in a hurricane                                                                                       1
Swimming with fish attached to  belt                                                                                     1
On a float                                                                                                               1
Attempting to rescue crew after whale upset their boat                                                                   1
Spearfishing, shot a sandtiger shark. Cord to spear tangled round his legs & a wave washed him onto a reef.              1
Swimming ashore from swamped 13-ft boat                                                                                  1
Net fishing, picking catch from the net                                                                                  1
Hunting seashells                                                                                                        1
Skin diving. Grabbed shark's tail; shark turned & grabbed diver's ankle & began towing him to deep water                 1
Swimming after boat became disabled                                                                                      1
Canoe with 3 men onboard sank                                                                                            1
Name: Activity, Length: 1532, dtype: int64

In [17]:
# 3) Selecting necessary columns to answer question:
# Which country has had the biggest number of incidents?

data.columns
# Case Number: to be used as ID column
# Country: necessary to group by countries
# Fatal (Y/N): (optional) potentially necessary to evaluate accident's gravity

Index(['Case Number', 'Date', 'Year', 'Type', 'Country', 'Area', 'Location',
       'Activity', 'Name', 'Sex ', 'Age', 'Injury', 'Fatal (Y/N)', 'Time',
       'Species ', 'Investigator or Source', 'pdf', 'href formula', 'href',
       'Case Number.1', 'Case Number.2', 'original order', 'Unnamed: 22',
       'Unnamed: 23'],
      dtype='object')

In [89]:
data['Country'].value_counts()

USA                           2229
AUSTRALIA                     1338
SOUTH AFRICA                   579
PAPUA NEW GUINEA               134
NEW ZEALAND                    128
BRAZIL                         112
BAHAMAS                        109
MEXICO                          89
ITALY                           71
FIJI                            62
PHILIPPINES                     61
REUNION                         60
NEW CALEDONIA                   53
CUBA                            46
MOZAMBIQUE                      45
SPAIN                           44
INDIA                           40
EGYPT                           38
CROATIA                         34
JAPAN                           34
PANAMA                          32
SOLOMON ISLANDS                 30
IRAN                            29
JAMAICA                         27
GREECE                          25
FRENCH POLYNESIA                25
HONG KONG                       24
ENGLAND                         23
INDONESIA                       23
PACIFIC OCEAN                   17
                              ...
ASIA?                            1
DIEGO GARCIA                     1
PERU                             1
PALESTINIAN TERRITORIES          1
MAYOTTE                          1
BRITISH NEW GUINEA               1
SOLOMON ISLANDS / VANUATU        1
ANDAMAN / NICOBAR ISLANDAS       1
MALDIVE ISLANDS                  1
REUNION ISLAND                   1
KUWAIT                           1
RED SEA / INDIAN OCEAN           1
SAN DOMINGO                      1
INDIAN OCEAN?                    1
ALGERIA                          1
ANGOLA                           1
BANGLADESH                       1
 PHILIPPINES                     1
SOUTH CHINA SEA                  1
ANDAMAN ISLANDS                  1
KOREA                            1
SWEDEN                           1
IRELAND                          1
BRITISH WEST INDIES              1
FALKLAND ISLANDS                 1
Sierra Leone                     1
RED SEA                          1
MEXICO                           1
BAY OF BENGAL                    1
GREENLAND                        1
Name: Country, Length: 212, dtype: int64

In [18]:
data['Country'].unique()
# corrections:
# remove categories that do not represent countries (eg: nan, North Atlantic Ocean, Asia?, United Kingdom, Diego Garcia)
# keep one single case (lower or upper)
# group equivalent terms (eg: Fiji and FIJI, or ' PHILIPPINES' and 'PHILIPPINES')

array(['USA', 'AUSTRALIA', 'MEXICO', 'BRAZIL', 'ENGLAND', 'SOUTH AFRICA',
       'THAILAND', 'COSTA RICA', 'MALDIVES', 'BAHAMAS', 'NEW CALEDONIA',
       'ECUADOR', 'MALAYSIA', 'LIBYA', nan, 'CUBA', 'MAURITIUS',
       'NEW ZEALAND', 'SPAIN', 'SAMOA', 'SOLOMON ISLANDS', 'JAPAN',
       'EGYPT', 'ST HELENA, British overseas territory', 'COMOROS',
       'REUNION', 'FRENCH POLYNESIA', 'UNITED KINGDOM',
       'UNITED ARAB EMIRATES', 'PHILIPPINES', 'INDONESIA', 'CHINA',
       'COLUMBIA', 'CAPE VERDE', 'Fiji', 'DOMINICAN REPUBLIC',
       'CAYMAN ISLANDS', 'ARUBA', 'MOZAMBIQUE', 'FIJI', 'PUERTO RICO',
       'ITALY', 'ATLANTIC OCEAN', 'GREECE', 'ST. MARTIN', 'FRANCE',
       'PAPUA NEW GUINEA', 'TRINIDAD & TOBAGO', 'KIRIBATI', 'ISRAEL',
       'DIEGO GARCIA', 'TAIWAN', 'JAMAICA', 'PALESTINIAN TERRITORIES',
       'GUAM', 'SEYCHELLES', 'BELIZE', 'NIGERIA', 'TONGA', 'SCOTLAND',
       'CANADA', 'CROATIA', 'SAUDI ARABIA', 'CHILE', 'ANTIGUA', 'KENYA',
       'RUSSIA', 'TURKS & CAICOS', 'UNITED ARAB EMIRATES (UAE)', 'AZORES',
       'SOUTH KOREA', 'MALTA', 'VIETNAM', 'MADAGASCAR', 'PANAMA',
       'SOMALIA', 'NEVIS', 'BRITISH VIRGIN ISLANDS', 'NORWAY', 'SENEGAL',
       'YEMEN', 'GULF OF ADEN', 'Sierra Leone', 'ST. MAARTIN',
       'GRAND CAYMAN', 'Seychelles', 'LIBERIA', 'VANUATU', 'MEXICO ',
       'HONDURAS', 'VENEZUELA', 'SRI LANKA', ' TONGA', 'URUGUAY', 'INDIA',
       'MICRONESIA', 'CARIBBEAN SEA', 'OKINAWA', 'TANZANIA',
       'MARSHALL ISLANDS', 'EGYPT / ISRAEL', 'NORTHERN ARABIAN SEA',
       'HONG KONG', 'EL SALVADOR', 'ANGOLA', 'BERMUDA', 'MONTENEGRO',
       'IRAN', 'TUNISIA', 'NAMIBIA', 'NORTH ATLANTIC OCEAN', 'PORTUGAL',
       'SOUTH CHINA SEA', 'BANGLADESH', 'PALAU', 'WESTERN SAMOA',
       'PACIFIC OCEAN ', 'BRITISH ISLES', 'GRENADA', 'IRAQ', 'TURKEY',
       'SINGAPORE', 'NEW BRITAIN', 'SUDAN', 'JOHNSTON ISLAND',
       'SOUTH PACIFIC OCEAN', 'NEW GUINEA', 'RED SEA',
       'NORTH PACIFIC OCEAN', 'FEDERATED STATES OF MICRONESIA',
       'MID ATLANTIC OCEAN', 'ADMIRALTY ISLANDS', 'BRITISH WEST INDIES',
       'SOUTH ATLANTIC OCEAN', 'PERSIAN GULF', 'RED SEA / INDIAN OCEAN',
       'PACIFIC OCEAN', 'NORTH SEA', 'NICARAGUA ', 'MALDIVE ISLANDS',
       'AMERICAN SAMOA', 'ANDAMAN / NICOBAR ISLANDAS', 'GABON', 'MAYOTTE',
       'NORTH ATLANTIC OCEAN ', 'THE BALKANS', 'SUDAN?', 'ARGENTINA',
       'MARTINIQUE', 'INDIAN OCEAN', 'GUATEMALA', 'NETHERLANDS ANTILLES',
       'NORTHERN MARIANA ISLANDS', 'IRAN / IRAQ', 'JAVA', 'SIERRA LEONE',
       ' PHILIPPINES', 'NICARAGUA', 'CENTRAL PACIFIC',
       'SOLOMON ISLANDS / VANUATU', 'SOUTHWEST PACIFIC OCEAN',
       'BAY OF BENGAL', 'MID-PACIFC OCEAN', 'SLOVENIA', 'CURACAO',
       'ICELAND', 'ITALY / CROATIA', 'BARBADOS', 'MONACO', 'GUYANA',
       'HAITI', 'SAN DOMINGO', 'IRELAND', 'KUWAIT', 'YEMEN ',
       'REUNION ISLAND', 'FALKLAND ISLANDS', 'CRETE', 'CYPRUS', 'EGYPT ',
       'WEST INDIES', 'BURMA', 'LEBANON', 'PARAGUAY',
       'BRITISH NEW GUINEA', 'CEYLON', 'OCEAN', 'GEORGIA', 'SYRIA',
       'TUVALU', 'INDIAN OCEAN?', 'GUINEA', 'ANDAMAN ISLANDS',
       'EQUATORIAL GUINEA / CAMEROON', 'COOK ISLANDS', 'TOBAGO', 'PERU',
       'AFRICA', 'ALGERIA', 'Coast of AFRICA', 'TASMAN SEA', 'GHANA',
       'GREENLAND', 'MEDITERRANEAN SEA', 'SWEDEN', 'ROATAN',
       'Between PORTUGAL & INDIA', 'DJIBOUTI', 'BAHREIN', 'KOREA',
       'RED SEA?', 'ASIA?', 'CEYLON (SRI LANKA)'], dtype=object)

In [92]:
data_b = data.copy()
data_b = data_b[['Case Number', 'Country', 'Fatal (Y/N)']].groupby(by = 'Country')

In [110]:
data_b = data_b.count().reset_index() #total number of occurrences

In [116]:
len(data_b)

212

In [118]:
#data_b['Country'].dropna()

In [152]:
data_25 = data_b.sort_values(by = 'Case Number', ascending = False).head(25)

In [154]:
#df['col_name'] = df['col_name'].str.replace('G', '1')
data_25['Country'] = data_25['Country'].str.replace('REUNION', 'REUNION ISLAND')

In [163]:
# a) Within the unprovoked type of incident, which activity suffered the most?
# What about provoked accidents?
data_25[['Country', 'Case Number']]

              Country  Case Number
204               USA         2228
14          AUSTRALIA         1338
171      SOUTH AFRICA          579
145  PAPUA NEW GUINEA          134
127       NEW ZEALAND          128
23             BRAZIL          112
16            BAHAMAS          109
113            MEXICO           89
90              ITALY           71
61               FIJI           62
149       PHILIPPINES           61
155    REUNION ISLAND           60
125     NEW CALEDONIA           53
45               CUBA           46
120        MOZAMBIQUE           45
177             SPAIN           44
81              INDIA           40
53              EGYPT           38
44            CROATIA           34
93              JAPAN           34
144            PANAMA           32
168   SOLOMON ISLANDS           30
85               IRAN           29
92            JAMAICA           27
63   FRENCH POLYNESIA           25