# Shark Attacks

### Importing libraries

In [149]:
import os
import numpy as np
import pandas as pd
import re

In [150]:
os.listdir()

['shark_analysis.ipynb',
 'attacks.csv',
 'README.md',
 '.gitattributes',
 '.ipynb_checkpoints',
 '.git']

### Reading and understanding database

In [151]:
db_attacks = pd.read_csv('attacks.csv', encoding='latin-1')

In [152]:
db_attacks.head()

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,...,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,...,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN

In [153]:
db_attacks.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25723 entries, 0 to 25722
Data columns (total 24 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Case Number             8702 non-null   object
 1   Date                    6302 non-null   object
 2   Year                    6300 non-null   float64
 3   Type                    6298 non-null   object
 4   Country                 6252 non-null   object
 5   Area                    5847 non-null   object
 6   Location                5762 non-null   object
 7   Activity                5758 non-null   object
 8   Name                    6092 non-null   object
 9   Sex                     5737 non-null   object
 10  Age                     3471 non-null   object
 11  Injury                  6274 non-null   object
 12  Fatal (Y/N)             5763 non-null   object
 13  Time                    2948 non-null   object
 14  Species                 3464 non-null   object
 15  Investigator or Source  6285 non-null   object
 16  pdf                     6302 non-null   object
 17  href formula            6301 non-null   object
 18  href                    6302 non-null   object
 19  Case Number.1           6302 non-null   object
 20  Case Number.2           6302 non-null   object
 21  original order          6309 non-null   float64
 22  Unnamed: 22             1 non-null      object
 23  Unnamed: 23             2 non-null      object
dtypes: float64(2), object(22)
memory usage: 4.7+ MB

### General cleaning

#### Duplicates

In [154]:
db_attacks.drop_duplicates(keep = 'first', inplace = True)

#### Rows with less than 12 filled columns (50%)

In [155]:
db_attacks.dropna(axis = 0, thresh = 12, how = 'all', inplace = True)

In [156]:
db_attacks.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6302 entries, 0 to 6301
Data columns (total 24 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Case Number             6301 non-null   object
 1   Date                    6302 non-null   object
 2   Year                    6300 non-null   float64
 3   Type                    6298 non-null   object
 4   Country                 6252 non-null   object
 5   Area                    5847 non-null   object
 6   Location                5762 non-null   object
 7   Activity                5758 non-null   object
 8   Name                    6092 non-null   object
 9   Sex                     5737 non-null   object
 10  Age                     3471 non-null   object
 11  Injury                  6274 non-null   object
 12  Fatal (Y/N)             5763 non-null   object
 13  Time                    2948 non-null   object
 14  Species                 3464 non-null   object
 15  Investigator or Source  6285 non-null   object
 16  pdf                     6302 non-null   object
 17  href formula            6301 non-null   object
 18  href                    6302 non-null   object
 19  Case Number.1           6302 non-null   object
 20  Case Number.2           6302 non-null   object
 21  original order          6302 non-null   float64
 22  Unnamed: 22             1 non-null      object
 23  Unnamed: 23             2 non-null      object
dtypes: float64(2), object(22)
memory usage: 1.2+ MB

#### Columns with less than 5 filled rows (0.07%)

In [157]:
db_attacks.dropna(axis = 1, thresh = 5, how = 'all', inplace = True)

### Saving backup file

In [158]:
data_bk = db_attacks.copy()

### Formulating questions

a) Which country has had the biggest number of incidents?

b) Is the ranking maintained if filtered by fatal accidents?

c) What is the proportion of fatal attacks within all attacks per country?

### Answering questions

#### a) Which country has had the biggest number of incidents?

Selecting necessary columns to answer question:

In [159]:
db_attacks.columns

Index(['Case Number', 'Date', 'Year', 'Type', 'Country', 'Area', 'Location',
       'Activity', 'Name', 'Sex ', 'Age', 'Injury', 'Fatal (Y/N)', 'Time',
       'Species ', 'Investigator or Source', 'pdf', 'href formula', 'href',
       'Case Number.1', 'Case Number.2', 'original order'],
      dtype='object')

To identify countries with the most occurrences, the following columns will be used:

> Case Number: to be used as ID column | Country: to identify the location

Filtering dataframe to select only chosen columns

In [160]:
attacks_by_country = db_attacks[['Case Number', 'Country']].groupby(by = 'Country', as_index = False).count()

In [161]:
attacks_by_country.head()

             Country  Case Number
0        PHILIPPINES            1
1              TONGA            3
2  ADMIRALTY ISLANDS            1
3             AFRICA            1
4            ALGERIA            1

In [162]:
attacks_by_country.sort_values(by = 'Case Number', ascending = False).head()

              Country  Case Number
204               USA         2228
14          AUSTRALIA         1338
171      SOUTH AFRICA          579
145  PAPUA NEW GUINEA          134
127       NEW ZEALAND          128

In [163]:
top_attacks_by_country = attacks_by_country.sort_values(by = 'Case Number', ascending = False).head(15).reset_index(drop = True)

In [164]:
top_attacks_by_country['Country'] = top_attacks_by_country['Country'].str.replace('REUNION', 'REUNION ISLAND')

In [165]:
top_attacks_by_country
# thorough data cleaning for 'Country' column was disconsidered once it didn't seem to impact final results

             Country  Case Number
0                USA         2228
1          AUSTRALIA         1338
2       SOUTH AFRICA          579
3   PAPUA NEW GUINEA          134
4        NEW ZEALAND          128
5             BRAZIL          112
6            BAHAMAS          109
7             MEXICO           89
8              ITALY           71
9               FIJI           62
10       PHILIPPINES           61
11    REUNION ISLAND           60
12     NEW CALEDONIA           53
13              CUBA           46
14        MOZAMBIQUE           45

#### b) Is the ranking maintained if filtered by fatal accidents?

Selecting necessary columns to answer question:

In [166]:
db_attacks.columns

Index(['Case Number', 'Date', 'Year', 'Type', 'Country', 'Area', 'Location',
       'Activity', 'Name', 'Sex ', 'Age', 'Injury', 'Fatal (Y/N)', 'Time',
       'Species ', 'Investigator or Source', 'pdf', 'href formula', 'href',
       'Case Number.1', 'Case Number.2', 'original order'],
      dtype='object')

To identify countries with the most occurrences, the following columns will be used:

> Country: to identify the location | Fatal (Y/N): to understand attack's result

Filtering dataframe to understand Fatal (Y/N) column

In [167]:
db_attacks['Fatal (Y/N)'].value_counts()

N          4293
Y          1388
UNKNOWN      71
 N            7
y             1
N             1
2017          1
M             1
Name: Fatal (Y/N), dtype: int64

Cleaning the Fatal (Y/N) column

In [168]:
db_attacks['Fatal (Y/N)'] = db_attacks['Fatal (Y/N)'].str.replace(' ?N ?', 'N', regex = True)

In [169]:
db_attacks['Fatal (Y/N)'] = db_attacks['Fatal (Y/N)'].str.replace('y', 'Y', regex = True)

In [170]:
db_attacks['Fatal (Y/N)'].value_counts()

N          4301
Y          1389
UNKNOWN      71
2017          1
M             1
Name: Fatal (Y/N), dtype: int64

Using column Injury as reference to unknown or null values in Fatal (Y/N)

In [171]:
db_attacks[['Injury', 'Fatal (Y/N)']].loc[(~db_attacks['Fatal (Y/N)'].isin(['Y', 'N']))]

                                                 Injury Fatal (Y/N)
27    Multiple severe injuries to arms and leg, leg ...         NaN
76                                                FATAL         NaN
79               Lacerations to right ankle, foot & toe         NaN
84        FATAL, but death was probably due to drowning         NaN
98                             Lacerations to left foot         NaN
...                                                 ...         ...
6169  Leg severed mid-thigh, hand severed, arm above...     UNKNOWN
6171                                                NaN     UNKNOWN
6172                                                NaN     UNKNOWN
6232  A 4.3 m [14'] shark made threat display. No in...         NaN
6277                                                NaN     UNKNOWN

[612 rows x 2 columns]

Selecting column Injury with 'FATAL' to verify column Fatal (Y/N)

In [172]:
db_attacks.loc[(~db_attacks['Fatal (Y/N)'].isin(['Y', 'N'])) & (db_attacks['Injury'].isin(['FATAL'])), 'Fatal (Y/N)']

76      NaN
874     NaN
2230    NaN
2660    NaN
2674    NaN
2791    NaN
2953    NaN
3811    NaN
4780    NaN
5196    NaN
5425    NaN
5499    NaN
5577    NaN
5578    NaN
5806    NaN
5891    NaN
5906    NaN
5920    NaN
6104    NaN
6164    NaN
Name: Fatal (Y/N), dtype: object

Updating null records for Fatal (Y/N) with confirmed fatal accidents

In [173]:
db_attacks.loc[(~db_attacks['Fatal (Y/N)'].isin(['Y', 'N'])) & (db_attacks['Injury'].isin(['FATAL'])), 'Fatal (Y/N)'] = 'Y'

In [174]:
db_attacks.loc[(~db_attacks['Fatal (Y/N)'].isin(['Y', 'N'])) & (db_attacks['Injury'].isin(['FATAL'])), 'Fatal (Y/N)']

Series([], Name: Fatal (Y/N), dtype: object)

Removing cells when 'Injury' is null and 'Fatal (Y/N)' is unknown

In [175]:
db_attacks.drop(db_attacks[['Injury', 'Fatal (Y/N)']].loc[(~db_attacks['Fatal (Y/N)'].isin(['Y', 'N'])) & (db_attacks['Injury'].isna())].index, inplace = True)

Understanding 'Injury' correspondence when 'Fatal (Y/N)' is 'UNKNOWN'

In [176]:
db_attacks[['Injury', 'Fatal (Y/N)']].loc[db_attacks['Fatal (Y/N)'].isin(['UNKNOWN'])]

                                                 Injury Fatal (Y/N)
624                                          No details     UNKNOWN
2260                                         No details     UNKNOWN
2295                                         No details     UNKNOWN
2307                                         No details     UNKNOWN
2323                                         No details     UNKNOWN
2328                                         No details     UNKNOWN
2388                                         No details     UNKNOWN
2404                                         No details     UNKNOWN
2409                                         No details     UNKNOWN
2650        No details, "recovering in Darwin Hospital"     UNKNOWN
2661                                         No details     UNKNOWN
2806                                         No details     UNKNOWN
2882                                         No details     UNKNOWN
2900                                         No details     UNKNOWN
2943                                         No details     UNKNOWN
2996                                         No details     UNKNOWN
2998                                         No details     UNKNOWN
3006                                         No details     UNKNOWN
3041                                         No details     UNKNOWN
3396                                         No details     UNKNOWN
3411                                         No details     UNKNOWN
3429                                         No details     UNKNOWN
3507            No details, listed as PROVOKED INCIDENT     UNKNOWN
3545                                         No details     UNKNOWN
3552  Involved a speared shark but no other details ...     UNKNOWN
3774                                         No details     UNKNOWN
3794      Details unknown, possibly a PROVOKED INCIDENT     UNKNOWN
4208  Man landed at Cape Levêque lighthouse in criti...     UNKNOWN
4256                                         No details     UNKNOWN
4269                                         No details     UNKNOWN
4310                                         No details     UNKNOWN
4323                                         No details     UNKNOWN
4689              Unprovoked, but circumstances unknown     UNKNOWN
4786                                         No details     UNKNOWN
4787                                         No details     UNKNOWN
4998                                         No details     UNKNOWN
5029                                         No details     UNKNOWN
5159                                         No details     UNKNOWN
5270                    Shark involvement not confirmed     UNKNOWN
5347                                         No details     UNKNOWN
5409            Calf removed, not known if he survived      UNKNOWN
5555                                          No injury     UNKNOWN
5615                                         No details     UNKNOWN
5653                                          No injury     UNKNOWN
5656                 "Painfully injured" but no details     UNKNOWN
5674                                         No details     UNKNOWN
5708                                         No details     UNKNOWN
5709                                         No details     UNKNOWN
5998     Severe bite to thigh. Not known if he survived     UNKNOWN
6081  No details, it was the year the first settlers...     UNKNOWN
6169  Leg severed mid-thigh, hand severed, arm above...     UNKNOWN

In [177]:
db_attacks.drop((db_attacks.loc[db_attacks['Fatal (Y/N)'].isin(['UNKNOWN']), 'Fatal (Y/N)']).index, inplace = True)

Understanding 'Injury' correspondence when 'Fatal (Y/N)' is 'M' or '2017'

In [178]:
db_attacks.loc[db_attacks['Fatal (Y/N)'].isin(['M', '2017']), 'Fatal (Y/N)'] = 'N'

In [179]:
db_attacks['Fatal (Y/N)'].value_counts()

N    4303
Y    1409
Name: Fatal (Y/N), dtype: int64

Lastly, understanding 'Injury' correspondence when 'Fatal (Y/N)' is null

In [180]:
db_attacks[['Injury', 'Fatal (Y/N)']].loc[(db_attacks['Fatal (Y/N)'].isna())].head()

                                                Injury Fatal (Y/N)
27   Multiple severe injuries to arms and leg, leg ...         NaN
79              Lacerations to right ankle, foot & toe         NaN
84       FATAL, but death was probably due to drowning         NaN
98                            Lacerations to left foot         NaN
107                 Abrasions and cuts to sole of foot         NaN

In [181]:
db_attacks[['Injury', 'Fatal (Y/N)']].loc[(db_attacks['Fatal (Y/N)'].isna()) & (db_attacks['Injury'].str.findall('FATAL',flags=re.IGNORECASE))]

                                                 Injury Fatal (Y/N)
84        FATAL, but death was probably due to drowning         NaN
159   Fatal, coroner unable to determine if the dive...         NaN
437   FATAL, but shark involvement prior to death un...         NaN
1495  FATAL, but shark involvement prior to death un...         NaN
1563  FATAL, shark involvement prior to death is unc...         NaN
1879                 PRESUMED FATAL, body not recovered         NaN
1947      Fatal or drowned & remains scavenged by shark         NaN
2025                                          Non-fatal         NaN
2890  FATAL, but shark involvement prior to death co...         NaN
2897   Forced at gunpoint to jump overboard. Presume...         NaN
3095  FATAL, but shark involvement prior to death wa...         NaN
3112  FATAL or scavenging by 3 m tiger shark (may ha...         NaN
3532          Fatal or scavenging by "a pack of sharks"         NaN
3947  FATAL, probable drowning & post mortem scavenging         NaN
4211         FATAL, but shark involvement not confirmed         NaN
4213      FATAL, but was it an accident or infanticide?         NaN
4501                    Fatal or drowning or scavenging         NaN
4900  Although listed as an uprovoked fatal attack b...         NaN
4901  Although listed as  an uprovoked fatal attack ...         NaN
4934  Reported  to be FATAL and involve a 6m white s...         NaN
5116                   FATAL, presumed taken by shark/s         NaN
5218  FATAL, but shark involvement prior to death un...         NaN
5329                      Fatal, drowning or scavenging         NaN
5396                                             FATAL?         NaN
5439  FATAL, but shark involvement prior to death wa...         NaN
5590  Reported fatal, but this is a questionable inc...         NaN
5671                           Fatal, probable drowning         NaN
5692     Fatal, but death may have been due to drowning         NaN
5695     Fatal, but death may have been due to drowning         NaN
5825                                             FATAL          NaN
5918  Shark bit canoe in half & bit man. Note: There...         NaN
5951                                     Presumed FATAL         NaN

Updating fatal accidents in 'Fatal (Y/N)'

In [182]:
index = [3112, 3532, 4934, 5116, 5825, 5951]
db_attacks.loc[index, 'Fatal (Y/N)'] = 'Y'

In [183]:
index = [2025]
db_attacks.loc[index, 'Fatal (Y/N)'] = 'N'

Removing rows without sufficient data to determine if accident was fatal or not

In [184]:
db_attacks.drop(db_attacks.loc[(db_attacks['Fatal (Y/N)'].isna()) & (db_attacks['Injury'].str.findall('FATAL',flags=re.IGNORECASE))].index, inplace = True)

Correcting rows in which 'Fatal (Y/N)' is null but 'Injury' does not specify fatality

In [185]:
db_attacks.loc[db_attacks['Fatal (Y/N)'].isna(), 'Fatal (Y/N)'] = 'N'

In [186]:
db_attacks['Fatal (Y/N)'].value_counts()

N    4784
Y    1415
Name: Fatal (Y/N), dtype: int64

In [187]:
# próximos passos:
# - atualizar o merge
# - fazer sum com a coluna Fatal (Y/N) (True = 1) para ter total de mortes por país
# -- transformar Y em True, e N em False
# - comparar total de mortes com total de incidentes (count do Fatal (Y/N))

In [188]:
#db_attacks['Fatal (Y/N)'] = db_attacks['Fatal (Y/N)'].str.replace('Y', 'True', regex = True)

In [189]:
#db_attacks['Fatal (Y/N)'] = db_attacks['Fatal (Y/N)'].str.replace('N', 'False', regex = True)

Creating new DataFrame to store number of attacks and its fatality, but before renaming the same country as before

In [190]:
db_attacks['Country'] = db_attacks['Country'].str.replace('REUNION', 'REUNION ISLAND')

Changing 'Fatal (Y/N)' to 1 or 0 (so as to use aggregate function and sum fatalities)

In [191]:
db_attacks['Fatal (Y/N)'] = db_attacks['Fatal (Y/N)'].str.replace('Y', '1')
db_attacks['Fatal (Y/N)'] = db_attacks['Fatal (Y/N)'].str.replace('N', '0')

In [198]:
db_attacks['Fatal (Y/N)'] = db_attacks['Fatal (Y/N)'].astype(int)

In [201]:
fatal_attacks_by_country = db_attacks[['Country', 'Fatal (Y/N)']]
fatal_attacks_by_country['sum'] = None
fatal_attacks_by_country['count'] = None

#df['sum'] = db_attacks[['Country', 'Fatal (Y/N)']].groupby(by = 'Country').sum()

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [203]:
#fatal_attacks_by_country['fatal_attacks_by_country.groupby(by = 'Country')

In [50]:
#fatal_attacks_by_country = attacks_by_country.merge(db_attacks[['Country', 'Fatal (Y/N)']], how = 'left', left_on = 'Country', right_on = 'Country')

In [51]:
fatal_attacks_by_country['Fatal (Y/N)'].value_counts()

N    4762
Y    1388
Name: Fatal (Y/N), dtype: int64

Grouping by 'Country', counting numeric variables and organizing from highest values

In [261]:
fatal_attacks_by_country.groupby(by = 'Country').count()

                   Case Number  Fatal (Y/N)
Country
 PHILIPPINES                 1            1
 TONGA                       3            3
ADMIRALTY ISLANDS            1            1
AFRICA                       1            1
ALGERIA                      1            1
...                        ...          ...
VIETNAM                     15           15
WEST INDIES                  2            2
WESTERN SAMOA                1            1
YEMEN                        2            2
YEMEN                        6            6

[212 rows x 2 columns]

In [32]:
#fatal_attacks_by_country[fatal_attacks_by_country['Fatal (Y/N)'] == 'True']

Empty DataFrame
Columns: [Country, Case Number, Fatal (Y/N)]
Index: []

In [33]:
# fatal_attacks_by_country = fatal_attacks_by_country.groupby(by = 'Country').count().sort_values(by = 'Fatal (Y/N)', ascending = False).reset_index()

In [35]:
#db_attacks[['Injury', 'Fatal (Y/N)']].loc[(db_attacks['Fatal (Y/N)'].isna()) & (db_attacks['Injury'].str.findall('FATAL',flags=re.IGNORECASE))]

                                                 Injury Fatal (Y/N)
76                                                FATAL         NaN
84        FATAL, but death was probably due to drowning         NaN
159   Fatal, coroner unable to determine if the dive...         NaN
437   FATAL, but shark involvement prior to death un...         NaN
874                                               FATAL         NaN
1495  FATAL, but shark involvement prior to death un...         NaN
1563  FATAL, shark involvement prior to death is unc...         NaN
1879                 PRESUMED FATAL, body not recovered         NaN
1947      Fatal or drowned & remains scavenged by shark         NaN
2025                                          Non-fatal         NaN
2230                                              FATAL         NaN
2660                                              FATAL         NaN
2674                                              FATAL         NaN
2791                                              FATAL         NaN
2890  FATAL, but shark involvement prior to death co...         NaN
2897   Forced at gunpoint to jump overboard. Presume...         NaN
2953                                              FATAL         NaN
3095  FATAL, but shark involvement prior to death wa...         NaN
3112  FATAL or scavenging by 3 m tiger shark (may ha...         NaN
3532          Fatal or scavenging by "a pack of sharks"         NaN
3811                                              FATAL         NaN
3947  FATAL, probable drowning & post mortem scavenging         NaN
4211         FATAL, but shark involvement not confirmed         NaN
4213      FATAL, but was it an accident or infanticide?         NaN
4501                    Fatal or drowning or scavenging         NaN
4780                                              FATAL         NaN
4900  Although listed as an uprovoked fatal attack b...         NaN
4901  Although listed as  an uprovoked fatal attack ...         NaN
4934  Reported  to be FATAL and involve a 6m white s...         NaN
5116                   FATAL, presumed taken by shark/s         NaN
5196                                              FATAL         NaN
5218  FATAL, but shark involvement prior to death un...         NaN
5329                      Fatal, drowning or scavenging         NaN
5396                                             FATAL?         NaN
5425                                              FATAL         NaN
5439  FATAL, but shark involvement prior to death wa...         NaN
5499                                              FATAL         NaN
5577                                              FATAL         NaN
5578                                              FATAL         NaN
5590  Reported fatal, but this is a questionable inc...         NaN
5671                           Fatal, probable drowning         NaN
5692     Fatal, but death may have been due to drowning         NaN
5695     Fatal, but death may have been due to drowning         NaN
5806                                              FATAL         NaN
5825                                             FATAL          NaN
5891                                              FATAL         NaN
5906                                              FATAL         NaN
5918  Shark bit canoe in half & bit man. Note: There...         NaN
5920                                              FATAL         NaN
5951                                     Presumed FATAL         NaN
6104                                              FATAL         NaN
6164                                              FATAL         NaN

In [36]:
#db_attacks.loc[(db_attacks['Fatal (Y/N)'].isna()) & (db_attacks['Injury'].isin(['FATAL'])), 'Fatal (Y/N)'] = 'True'

In [38]:
#fatal_attacks_by_country.info().groupby(by = 'Country').count()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6252 entries, 0 to 6251
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Country      6252 non-null   object
 1   Case Number  6252 non-null   int64
 2   Fatal (Y/N)  5717 non-null   object
dtypes: int64(1), object(2)
memory usage: 195.4+ KB

AttributeError: 'NoneType' object has no attribute 'groupby'

In [ ]:
top_fatal_attacks_by_country = fatal_attacks_by_country.head(15)

In [ ]:
top_fatal_attacks_by_country['Country'] = top_fatal_attacks_by_country['Country'].str.replace('REUNION', 'REUNION ISLAND')

In [ ]:
top_fatal_attacks_by_country = top_fatal_attacks_by_country[['Country', 'Fatal (Y/N)']]

Comparing ranking for countries with the most attacks and countries with the most fatal attacks

In [ ]:
top_attacks_by_country

In [ ]:
top_fatal_attacks_by_country

Although top 5 countries are the same - for most attacks and most fatal attacks - there were changes in the overall ranking, such as: 
> Brazil, Bahamas, Italy, Fiji and Reunion Island

#### c) What is the proportion of fatal attacks within all attacks per country?

Putting previous DataFrames in the same order

In [ ]:
top_fatal = top_fatal_attacks_by_country.sort_values(by = 'Country')
top_attacks = top_attacks_by_country.sort_values(by = 'Country')

In [ ]:
top_death_probability = top_fatal

Creating ratio between number of fatal accidents and total number of attacks

In [ ]:
top_death_probability['Fatality Probability'] = top_fatal['Fatal (Y/N)'] / top_attacks['Case Number']

In [ ]:
top_death_probability = top_death_probability.sort_values(by = 'Fatality Probability', ascending = False).reset_index()

In [ ]:
top_death_probability = top_death_probability.reindex(columns = ['Country', 'Fatal (Y/N)', 'Fatality Probability'])

In [ ]:
top_death_probability

Now we have a new scenario of countries with a high fatality probability. Top 5 countries are:

> New Caledonia, Papua New Guinea, Reunion Island, Brazil and Bahamas

It is also interest to note that the three first regions all belong to French territory