### Shark Attacks

#### Possible questions:

a) Within the unprovoked type of incident, which activity suffered the most?
> What about provoked accidents?

b) Which country has had the biggest number of incidents?
> Is the ranking maintained if filtered by fatal accidents?

c) Which shark species is most associated with attacks?

d) Do the attacks happen with more frequency at a specific time of the day?

#### Coding logic:

1) Save DataFrame backup 

2) Perform general table cleaning: (a) remove duplicates, (b) remove entire null rows, (c) adequate column title (lower snake case)

3) Select columns related to a specific question

4) Understand possible inconsistencies

5) Clean data using new variable to save DataFrame

In [1]:
import os
os.listdir()

['shark_analysis.ipynb',
 'attacks.csv',
 'README.md',
 '.gitattributes',
 '.ipynb_checkpoints',
 '.git']

In [2]:
import numpy as np
import pandas as pd

In [3]:
np.__version__

'1.14.3'

In [4]:
pd.__version__

'0.23.0'

In [5]:
# Retrieving database
data = pd.read_csv('attacks.csv', encoding='latin-1')

In [6]:
# Understanding database (1)
data.head()

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,...,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,...,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN

In [7]:
# Understanding database (2)
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25723 entries, 0 to 25722
Data columns (total 24 columns):
Case Number               8702 non-null object
Date                      6302 non-null object
Year                      6300 non-null float64
Type                      6298 non-null object
Country                   6252 non-null object
Area                      5847 non-null object
Location                  5762 non-null object
Activity                  5758 non-null object
Name                      6092 non-null object
Sex                       5737 non-null object
Age                       3471 non-null object
Injury                    6274 non-null object
Fatal (Y/N)               5763 non-null object
Time                      2948 non-null object
Species                   3464 non-null object
Investigator or Source    6285 non-null object
pdf                       6302 non-null object
href formula              6301 non-null object
href                      6302 non-null object
Case Number.1             6302 non-null object
Case Number.2             6302 non-null object
original order            6309 non-null float64
Unnamed: 22               1 non-null object
Unnamed: 23               2 non-null object
dtypes: float64(2), object(22)
memory usage: 4.7+ MB

In [8]:
# 1) Saving database backup
data_bk = data.copy()

In [9]:
# 2) Data cleaning: removing duplicates
# DataFrame.drop_duplicates(subset=None, keep='first', inplace=False, ignore_index=False)
data.drop_duplicates(keep = 'first', inplace = True)

In [10]:
# 2) Data cleaning: removing mostly null rows
# DataFrame.dropna(axis=0, how='any', thresh=None, subset=None, inplace=False)
data.dropna(thresh = 12, axis = 0, how = 'all', inplace = True)

In [11]:
# 2) Data cleaning: renaming columns to lower and snake case
# TBD

In [12]:
# 3) Selecting necessary columns to answer question:
# Within the unprovoked type of incident, which activity suffered the most?

data.columns
# Case Number: to be used as ID column
# Type: necessary to distinguish between types of incidents
# Activity: also necessary to attribute different kinds of activities

Index(['Case Number', 'Date', 'Year', 'Type', 'Country', 'Area', 'Location',
       'Activity', 'Name', 'Sex ', 'Age', 'Injury', 'Fatal (Y/N)', 'Time',
       'Species ', 'Investigator or Source', 'pdf', 'href formula', 'href',
       'Case Number.1', 'Case Number.2', 'original order', 'Unnamed: 22',
       'Unnamed: 23'],
      dtype='object')

In [13]:
data_a = data[['Case Number', 'Type', 'Activity']]

In [14]:
data_a.info()
# TBD: Transform 'Case Number' into date

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6302 entries, 0 to 6301
Data columns (total 3 columns):
Case Number    6301 non-null object
Type           6298 non-null object
Activity       5758 non-null object
dtypes: object(3)
memory usage: 196.9+ KB

In [15]:
data_a['Type'].value_counts()
# TBD: Disconsider occurences not in ['Unprovoked', 'Provoked']

Unprovoked      4595
Provoked         574
Invalid          547
Sea Disaster     239
Boating          203
Boat             137
Questionable       2
Boatomg            1
Name: Type, dtype: int64

In [16]:
data_a['Activity'].value_counts()

Surfing                                                                                                         971
Swimming                                                                                                        869
Fishing                                                                                                         431
Spearfishing                                                                                                    333
Bathing                                                                                                         162
Wading                                                                                                          149
Diving                                                                                                          127
Standing                                                                                                         99
Snorkeling                                                                                                       89
Scuba diving                                                                                                     76
Body boarding                                                                                                    61
Body surfing                                                                                                     49
Swimming                                                                                                         47
Kayaking                                                                                                         33
Fell overboard                                                                                                   32
Treading water                                                                                                   32
Pearl diving                                                                                                     32
Boogie boarding                                                                                                  29
Free diving                                                                                                      29
Windsurfing                                                                                                      19
Walking                                                                                                          17
Boogie Boarding                                                                                                  16
Shark fishing                                                                                                    15
Floating                                                                                                         14
Canoeing                                                                                                         13
Fishing                                                                                                          13
Surf skiing                                                                                                      12
Rowing                                                                                                           12
Surf-skiing                                                                                                      12
Surf fishing                                                                                                     12
                                                                                                               ...
Taking boat from California to Florida when it ran aground & he was swimming back to boat                         1
Air disaster: crash of Air France Super Constellation                                                             1
Royal Hawaiian skymaster DC-6B aircraft went down with  58 passenger & crew                                       1
Placed hand in disemboweled sharks jaws                                                                          1
Hand feeding sharks                                                                                               1
American minesweeper USS YMS-350 lost in a typhoon - swimming to shore                                            1
Fishing in ankle-deep water                                                                                       1
boat capsized during filming                                                                                      1
Standing, collecting bananas                                                                                      1
Netting pilchards                                                                                                 1
Wreck of the Sovereign                                                                                            1
Free diving for molluscs                                                                                          1
Boat capsized, swimming to shore                                                                                  1
He was fighting a shark when his boat capsized & he disappeared                                                   1
Attempting to catch a crocodile                                                                                   1
Fishing with dynamite, afterwards in water retrieving catch                                                       1
Fell off aircraft carrier                                                                                         1
Motor launch Baby Princesa capsized with 22 people on board                                                       1
Free diving / spearfishing (resting on the surface)                                                               1
Washed off raft                                                                                                   1
British cruiser Dunedin torpedoed & sunk by the U-124                                                             1
Freediving, inspecting Kaunakakai wharf construction after blasting & dredging                                    1
USS Hoel DD 533 sunk on 10/24/1944 in the Battle off Samar. 2 crewmen were swimmng alongside a floater net &      1
Dropped overboard                                                                                                 1
Swimming with pod of dolphins                                                                                     1
Fishing, slipped on rocks & fell into sea                                                                         1
Spearfishing / night diving                                                                                       1
Fishing (Drowned 2-Apr-2002)                                                                                      1
Yacht race                                                                                                        1
Wading & pushing dinghy toward  the shallows                                                                      1
Name: Activity, Length: 1532, dtype: int64

In [19]:
# 3) Selecting necessary columns to answer question:
# Which country has had the biggest number of incidents?

data.columns
# Case Number: to be used as ID column
# Country: necessary to group by countries
# Fatal (Y/N): (optional) potentially necessary to evaluate accident's gravity

Index(['Case Number', 'Date', 'Year', 'Type', 'Country', 'Area', 'Location',
       'Activity', 'Name', 'Sex ', 'Age', 'Injury', 'Fatal (Y/N)', 'Time',
       'Species ', 'Investigator or Source', 'pdf', 'href formula', 'href',
       'Case Number.1', 'Case Number.2', 'original order', 'Unnamed: 22',
       'Unnamed: 23'],
      dtype='object')

In [46]:
data['Country'].unique()
# corrections:
# keep one single case (lower or upper)
# remove categories that do not represent countries (eg: North Atlantic Ocean, Asia?, United Kingdom, Diego Garcia)
# group equivalent terms (eg: Fiji and FIJI, or ' PHILIPPINES' and 'PHILIPPINES')

array(['USA', 'AUSTRALIA', 'MEXICO', 'BRAZIL', 'ENGLAND', 'SOUTH AFRICA',
       'THAILAND', 'COSTA RICA', 'MALDIVES', 'BAHAMAS', 'NEW CALEDONIA',
       'ECUADOR', 'MALAYSIA', 'LIBYA', nan, 'CUBA', 'MAURITIUS',
       'NEW ZEALAND', 'SPAIN', 'SAMOA', 'SOLOMON ISLANDS', 'JAPAN',
       'EGYPT', 'ST HELENA, British overseas territory', 'COMOROS',
       'REUNION', 'FRENCH POLYNESIA', 'UNITED KINGDOM',
       'UNITED ARAB EMIRATES', 'PHILIPPINES', 'INDONESIA', 'CHINA',
       'COLUMBIA', 'CAPE VERDE', 'Fiji', 'DOMINICAN REPUBLIC',
       'CAYMAN ISLANDS', 'ARUBA', 'MOZAMBIQUE', 'FIJI', 'PUERTO RICO',
       'ITALY', 'ATLANTIC OCEAN', 'GREECE', 'ST. MARTIN', 'FRANCE',
       'PAPUA NEW GUINEA', 'TRINIDAD & TOBAGO', 'KIRIBATI', 'ISRAEL',
       'DIEGO GARCIA', 'TAIWAN', 'JAMAICA', 'PALESTINIAN TERRITORIES',
       'GUAM', 'SEYCHELLES', 'BELIZE', 'NIGERIA', 'TONGA', 'SCOTLAND',
       'CANADA', 'CROATIA', 'SAUDI ARABIA', 'CHILE', 'ANTIGUA', 'KENYA',
       'RUSSIA', 'TURKS & CAICOS', 'UNITED ARAB EMIRATES (UAE)', 'AZORES',
       'SOUTH KOREA', 'MALTA', 'VIETNAM', 'MADAGASCAR', 'PANAMA',
       'SOMALIA', 'NEVIS', 'BRITISH VIRGIN ISLANDS', 'NORWAY', 'SENEGAL',
       'YEMEN', 'GULF OF ADEN', 'Sierra Leone', 'ST. MAARTIN',
       'GRAND CAYMAN', 'Seychelles', 'LIBERIA', 'VANUATU', 'MEXICO ',
       'HONDURAS', 'VENEZUELA', 'SRI LANKA', ' TONGA', 'URUGUAY', 'INDIA',
       'MICRONESIA', 'CARIBBEAN SEA', 'OKINAWA', 'TANZANIA',
       'MARSHALL ISLANDS', 'EGYPT / ISRAEL', 'NORTHERN ARABIAN SEA',
       'HONG KONG', 'EL SALVADOR', 'ANGOLA', 'BERMUDA', 'MONTENEGRO',
       'IRAN', 'TUNISIA', 'NAMIBIA', 'NORTH ATLANTIC OCEAN', 'PORTUGAL',
       'SOUTH CHINA SEA', 'BANGLADESH', 'PALAU', 'WESTERN SAMOA',
       'PACIFIC OCEAN ', 'BRITISH ISLES', 'GRENADA', 'IRAQ', 'TURKEY',
       'SINGAPORE', 'NEW BRITAIN', 'SUDAN', 'JOHNSTON ISLAND',
       'SOUTH PACIFIC OCEAN', 'NEW GUINEA', 'RED SEA',
       'NORTH PACIFIC OCEAN', 'FEDERATED STATES OF MICRONESIA',
       'MID ATLANTIC OCEAN', 'ADMIRALTY ISLANDS', 'BRITISH WEST INDIES',
       'SOUTH ATLANTIC OCEAN', 'PERSIAN GULF', 'RED SEA / INDIAN OCEAN',
       'PACIFIC OCEAN', 'NORTH SEA', 'NICARAGUA ', 'MALDIVE ISLANDS',
       'AMERICAN SAMOA', 'ANDAMAN / NICOBAR ISLANDAS', 'GABON', 'MAYOTTE',
       'NORTH ATLANTIC OCEAN ', 'THE BALKANS', 'SUDAN?', 'ARGENTINA',
       'MARTINIQUE', 'INDIAN OCEAN', 'GUATEMALA', 'NETHERLANDS ANTILLES',
       'NORTHERN MARIANA ISLANDS', 'IRAN / IRAQ', 'JAVA', 'SIERRA LEONE',
       ' PHILIPPINES', 'NICARAGUA', 'CENTRAL PACIFIC',
       'SOLOMON ISLANDS / VANUATU', 'SOUTHWEST PACIFIC OCEAN',
       'BAY OF BENGAL', 'MID-PACIFC OCEAN', 'SLOVENIA', 'CURACAO',
       'ICELAND', 'ITALY / CROATIA', 'BARBADOS', 'MONACO', 'GUYANA',
       'HAITI', 'SAN DOMINGO', 'IRELAND', 'KUWAIT', 'YEMEN ',
       'REUNION ISLAND', 'FALKLAND ISLANDS', 'CRETE', 'CYPRUS', 'EGYPT ',
       'WEST INDIES', 'BURMA', 'LEBANON', 'PARAGUAY',
       'BRITISH NEW GUINEA', 'CEYLON', 'OCEAN', 'GEORGIA', 'SYRIA',
       'TUVALU', 'INDIAN OCEAN?', 'GUINEA', 'ANDAMAN ISLANDS',
       'EQUATORIAL GUINEA / CAMEROON', 'COOK ISLANDS', 'TOBAGO', 'PERU',
       'AFRICA', 'ALGERIA', 'Coast of AFRICA', 'TASMAN SEA', 'GHANA',
       'GREENLAND', 'MEDITERRANEAN SEA', 'SWEDEN', 'ROATAN',
       'Between PORTUGAL & INDIA', 'DJIBOUTI', 'BAHREIN', 'KOREA',
       'RED SEA?', 'ASIA?', 'CEYLON (SRI LANKA)'], dtype=object)

In [43]:
country_names.unique()

AttributeError: 'list' object has no attribute 'unique'